<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <title>Cookie Clicker</title>
    <link rel="icon" type="image/png" href="assets/images/PerfectCookie.png">
    <link rel="stylesheet" id="applicationStylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body ng-app="CookieClicker" ng-controller="GameController" data-ng-init="start()">
<div id="Web_1920___1">
    <svg class="Rectangle_1">
        <rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="989" height="102">
        </rect>
    </svg>
    <svg class="Rectangle_7">
        <rect id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="699" height="87">
        </rect>
    </svg>
    <svg class="Rectangle_8">
        <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="699" height="87">
        </rect>
    </svg>
    <svg class="PerfectCookie" ng-click="add_cookies()">
        <pattern elementId="PerfectCookie_A0_Rectangle_5" id="PerfectCookie_A0_Rectangle_5_pattern" x="0" y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%" href="assets/images/PerfectCookie.png" xlink:href="assets/images/PerfectCookie.png"></image>
        </pattern>
        <rect id="PerfectCookie" rx="0" ry="0" x="0" y="0" width="512" height="512">
        </rect>
    </svg>
    <div id="Cookies____cookies__">
        <span>Cookies: {{cookies}}</span>
    </div>
    <div id="Per_Second____cookies__">
        <span>Per Second: {{cookies_per_second}}</span>
    </div>
    <div id="test" ng-click="purchase_1()">
        <span>Level: {{level_1}} - Price: {{getPriceLevel1()}}</span>
    </div>
    <svg class="Rectangle_9">
        <rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="989" height="102">
        </rect>
    </svg>
    <div id="test_A0_Text_4"  ng-click="purchase_2()">
        <span>Level: {{level_2}} - Price: {{getPriceLevel2()}}</span>
    </div>
    <svg class="Rectangle_10">
        <rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="989" height="102">
        </rect>
    </svg>
    <div id="test_A0_Text_5"  ng-click="purchase_3()">
        <span>Level: {{level_3}} - Price: {{getPriceLevel3()}}</span>
    </div>
    <svg class="Rectangle_11">
        <rect id="Rectangle_11" rx="0" ry="0" x="0" y="0" width="989" height="102">
        </rect>
    </svg>
    <div id="test_A0_Text_6" ng-click="purchase_4()">
        <span>Level: {{level_4}} - Price: {{getPriceLevel4()}}</span>
    </div>
    <svg class="Rectangle_12">
        <rect id="Rectangle_12" rx="0" ry="0" x="0" y="0" width="989" height="102">
        </rect>
    </svg>
    <div id="test_A0_Text_7"  ng-click="purchase_5()">
        <span>Level: {{level_5}} - Price: {{getPriceLevel5()}}</span>
    </div>
    <svg class="Rectangle_13">
        <rect id="Rectangle_13" rx="0" ry="0" x="0" y="0" width="989" height="102">
        </rect>
    </svg>
    <div id="test_A0_Text_8">
        <span>{{error}}</span>
    </div>
</div>
<script src="assets/js/scale.js"></script>
<script src="assets/js/protect.js"></script>
</body>
</html>