<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Cookie Clicker</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body ng-app="CookieClicker" ng-controller="GameController" data-ng-init="start()">
<div class="row">
    <div class="col-4">
        <h1 class="cookie-counter">{{cookies}}</h1>
        <img src="images/PerfectCookie.png" ng-click="add_cookies()"></img>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <p ng-click="multiply_cookies_per_click()">Cookies per click: {{getNiceCookiesPerClick()}}</p>
        <p ng-click="add_cookies_per_sec()">Cookies per second: {{getNiceCookiesPerSecond()}}</p>
    </div>
</div>
</body>
</html>