body {
    margin: 0;
    padding: 0;
    font-family: Whitney;
}
@font-face {
    font-family: 'Whitney'; /*a name to be used later*/
    src: url('../fonts/whitney.woff'); /*URL to font*/
}
:root {
    --web-view-ids: Web_1920___1;
}
#Web_1920___1 * {
    margin: 0;
    padding: 0;
}
#Web_1920___1 {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-scale-to-fit: true;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_1 {
    opacity: 1;
    filter: drop-shadow(20px 20px 59px rgba(0, 0, 0, 0.161));
    fill: rgba(255,241,241,1);
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 279px;
    left: 886px;
    top: 104px;
}
#Rectangle_7 {
    opacity: 1;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    fill: rgba(191,191,191,1);
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 717px;
    height: 105px;
    left: 95px;
    top: 119px;
}
#Rectangle_8 {
    opacity: 1;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    fill: rgba(191,191,191,1);
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 717px;
    height: 105px;
    left: 95px;
    top: 264px;
}
#PerfectCookie {
    opacity: 1;
    fill: url(#PerfectCookie_A0_Rectangle_5_pattern);
}
.PerfectCookie {
    position: absolute;
    overflow: visible;
    width: 512px;
    height: 512px;
    left: 189px;
    top: 419px;
}
#Cookies____cookies__ {
    opacity: 1;
    position: absolute;
    left: 110px;
    top: 132px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 670px;
    height: 59px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}
#Per_Second____cookies__ {
    opacity: 1;
    position: absolute;
    left: 110px;
    top: 278px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 670px;
    height: 59px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}
#test {
    opacity: 1;
    position: absolute;
    left: 902px;
    top: 120px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 958px;
    height: 72px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}
#Rectangle_9 {
    opacity: 1;
    filter: drop-shadow(20px 20px 59px rgba(0, 0, 0, 0.161));
    fill: rgba(255,241,241,1);
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 279px;
    left: 886px;
    top: 264px;
}
#test_A0_Text_4 {
    opacity: 1;
    position: absolute;
    left: 902px;
    top: 280px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 958px;
    height: 72px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}
#Rectangle_10 {
    opacity: 1;
    filter: drop-shadow(20px 20px 59px rgba(0, 0, 0, 0.161));
    fill: rgba(255,241,241,1);
}
.Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 279px;
    left: 886px;
    top: 424px;
}
#test_A0_Text_5 {
    opacity: 1;
    position: absolute;
    left: 902px;
    top: 440px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 958px;
    height: 72px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}
#Rectangle_11 {
    opacity: 1;
    filter: drop-shadow(20px 20px 59px rgba(0, 0, 0, 0.161));
    fill: rgba(255,241,241,1);
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 279px;
    left: 886px;
    top: 584px;
}
#test_A0_Text_6 {
    opacity: 1;
    position: absolute;
    left: 902px;
    top: 600px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 958px;
    height: 72px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}
#Rectangle_12 {
    opacity: 1;
    filter: drop-shadow(20px 20px 59px rgba(0, 0, 0, 0.161));
    fill: rgba(255,241,241,1);
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 279px;
    left: 886px;
    top: 744px;
}
#test_A0_Text_7 {
    opacity: 1;
    position: absolute;
    left: 902px;
    top: 760px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 958px;
    height: 72px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}
#Rectangle_13 {
    opacity: 1;
    filter: drop-shadow(20px 20px 59px rgba(0, 0, 0, 0.161));
    fill: rgba(255,241,241,1);
}
.Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 1166px;
    height: 279px;
    left: 886px;
    top: 904px;
}
#test_A0_Text_8 {
    opacity: 1;
    position: absolute;
    left: 902px;
    top: 920px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 958px;
    height: 72px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112,112,112,1);
}